<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>666809124473-j963j9mi5cq5hndca7n16ej6iqb2tral.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666809124473-j963j9mi5cq5hndca7n16ej6iqb2tral</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ9KUrc-iq8PJ3zbyicb5ONtkOmX3uqhY</string>
	<key>GCM_SENDER_ID</key>
	<string>666809124473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.greenlrt.Weatherpics</string>
	<key>PROJECT_ID</key>
	<string>weatherpics-47c1b</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherpics-47c1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666809124473:ios:15d1065d65b1f9d2</string>
	<key>DATABASE_URL</key>
	<string>https://weatherpics-47c1b.firebaseio.com</string>
</dict>
</plist>